.main-container {
    max-width: 1440px;
    margin: 0 auto;
}

.announcements {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    background-color: #d8e8e3;
}

.announcements span {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    max-width: 60%;
    text-align: center;
    font-size: 19px;
    line-height: 1.75;
    font-weight: 500;
}

.left-right-section {
    display: flex;
    margin-bottom: 32px;
}

.left-right-section .text {
    width: 50%;
    color: #1e3932;
    padding: 32px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f8f6;
}

.left-right-section .image {
    width: 50%;
    display: flex;
}

.left-right-section .image img {
    width: 100%;
}

.text h1,
.text h3 {
    margin: 0;
    font-weight: 400;
}

.text h1 {
    margin-bottom: 24px;
    text-align: center;
}

.text h3 {
    margin-bottom: 32px;
    font-size: 19px;
    text-align: center;
}

.text .cta {
    padding: 7px 16px;
    border: 1px solid;
    border-radius: 50px;
    color: #1e3932;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.text .cta:hover {
    padding: 7px 32px;
    background-color: rgba(30, 57, 50, 0.1);
}

.chill .text {
    background-color: #f2f0eb;
}

.chill .text h1 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 50px;
    letter-spacing: 8px;
}

.chill .text h3 {
    font-size: 24px;
    line-height: 1.5;
}

section {
    display: flex;
}

.frapp .text {
    background-color: #f2f0eb;
}

.frapp .text h1 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 24px;
    text-align: center;
}

.frapp .text h3 {
    display: flex;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    color: #1e3932;
    font-size: 24px;
    letter-spacing: 5px;
}

.frapp .image img {
    max-width: 100%;
    height: auto;
    line-height: 1.5;
    box-sizing: inherit;
    border: 0;
    font-size: 1.4rem;
    background-color: #f2f0eb;
}

.frapp .text .cta-container .cta-frapp {
    display: flex;
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease;
    cursor: pointer;
}

.frapp .text .cta-container .cta-frapp:hover {
    padding: 7px 32px;
    background-color: rgba(30, 57, 50, 0.1);
}

.top-bottom-section {
    width: 50%;
}

.section-container {
    display: flex;
    flex-direction: column;
}

.top-bottom-section .image {
    width: 100%;
}

.top-bottom-section .image img {
    width: 100%;
}

.top-bottom-section .text {
    display: flex;
    flex-direction: column;
}

.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bottom-section:first-child .section-container {
    margin-right: 16px;
}

.top-bottom-section:last-child .section-container {
    margin-left: 16px;
}

.top-bottom-section .image {
    display: flex;
}

.top-bottom-section .text {
    background-color: #d4e9e2;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-top: 16px;
    color: #1e3932;
    flex-grow: 1;
    font-size: 16px;
}

.top-bottom-section .text h1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}

.top-bottom-section .text h3 {
    font-size: 19px;
    line-height: 1.75;
}

.top-bottom-section {
    display: flex;
    margin-bottom: 32px;
}

.bottom {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.left-right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    background-color: #d4e9e2;
    color: #1e3932;
    font-size: 16px;
    margin-bottom: 32px;
}

.left-right-side .left-text h1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 32px;
}

.left-right-side .left-text h3 {
    font-size: 19px;
}

.left-right-side .left-text h1,
.left-right-side .left-text h3 {
    padding-left: 70px;
    padding-right: 70px;
}

.left-right-side .image img {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.left-right-side .left-text .cta-container .cta {
    display: flex;
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease;
    cursor: pointer;
}
.left-right-side .left-text .cta-container .cta:hover {
    padding: 7px 32px;
    background-color: rgba(30, 57, 50, 0.1);
}

.bottom .bottom-text-container {
    width: 1440px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.bottom .bottom-text-container .bottom-text .bottom-top-text h3 {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
}

.bottom .bottom-text-container .bottom-text .bottom-top-text h3 span {
    text-decoration: underline;
}

.bottom .bottom-text-container .bottom-text .bottom-top-text h3 span:hover {
    cursor: pointer;
    text-decoration: none;
}

.bottom .bottom-text-container .bottom-text .bottom-bottom-text {
    display: flex;
    line-height: 1.5;
    margin-left: 400px;
    margin-right: 400px;
}

.bottom .bottom-text-container .bottom-text .bottom-bottom-text h2 {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
}

@media screen and (min-width: 1024px) {
    .main-container {
        font-size: 1.6rem;
    }
}
